@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Playfair Display", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: #b8dbd9;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background: #161a1d;
  border-radius: 10px;
}

.animate__animated {
  --animate-duration: 3s;
}
.close {
  transition: all 0.5s;
}
.close:hover,
.close:focus {
  color: #2f4550;
  box-shadow: inset -4.5em 0 0 0 #b8dbd9, inset 4.5em 0 0 0 #b8dbd9;
}

/* Project Card */
.card {
  position: relative;
  transform-style: preserve-3d;
  transition: 1.5s;
  /* border: 1px solid #fff; */
  height: 20rem;
}
.card-img {
  position: relative;
  height: 15rem;
  padding-top: 2.5rem;
  transform: translateZ(40px);
}

.card-body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, -40px) rotateY(180deg);
  width: 85%;
  height: 80%;
  overflow: hidden;
  border: 5px solid #161a1d;
  background-color: #161a1d;
  border-radius: 5px;
}
.card:hover {
  transform: rotateY(180deg);
}
@media only screen and (min-width: 1280px) {
  .card {
    height: 30rem;
  }
  .card-img {
    height: 20rem;
    padding-top: 3rem;
  }
}

/* Profile Card */
.profile-card {
  position: relative;
  border-radius: 10px;
  width: 95%;
  margin: auto;
  height: 20rem;
  overflow: hidden;
  box-shadow: 10px 5px 10px rgba(255, 255, 255, 0.8);
}
.profile-card img {
  height: 100%;
  width: 100%;
  filter: brightness(120%);
}

.content {
  position: absolute;
  color: #14213d;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
  backdrop-filter: blur(20px);
  box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  transition: 0.3s;
  opacity: 0;
}
.profile-card:hover .content {
  bottom: 0;
  opacity: 1;
}
.contentBox h3 {
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.5rem;
  transition: 0.5s;
  opacity: 0;
  transform: translateY(-20px);
  margin-bottom: 1rem;
}
.profile-card:hover .content h3 {
  opacity: 1;
  transform: translateY(0px);
}
.social {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.social a {
  transform: translateY(40px);
  transition: 1s;
  opacity: 0;
}

.profile-card:hover .content .social a {
  transform: translateY(0px);
  opacity: 1;
}
@media only screen and (min-width: 1024px) {
  .profile-card {
    height: 40rem;
    width: 30rem;
  }
}
@media only screen and (min-width: 768px) {
  .profile-card {
    height: 40rem;
    width: 30rem;
  }
}

/* message box */
.message {
  margin-top: 3rem;
  background-color: #343a40;
  border-radius: 10px;
  -webkit-clip-path: polygon(
    0% 0%,
    100% 0,
    100% 75%,
    75% 75%,
    79% 89%,
    50% 75%,
    0% 75%
  );
  clip-path: polygon(
    0% 0%,
    100% 0,
    100% 75%,
    75% 75%,
    79% 89%,
    50% 75%,
    0% 75%
  );
}

/*contact input */
input[type="text"],
textarea,
input[type="email"] {
  color: #b8dbd9;
}
